
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="#">
									
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        <!--&copy; <a target="_blank" href="#">Tipsy</a> -->
						<a target="_blank" href="#">Tipsy</a>
                        - 수집 데이터 관리 <a target="_blank" href="#"></a>
					</div>				
				</div>
            </footer>
            