		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<div class="user">
						<!-- <div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div> -->
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<!-- <li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li> -->
									<li>
										<a href="{% url 'logout' %}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="/index.html">
											<span class="sub-item">Dashboard</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Menu</h4>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#add">
								<i class="fas fa-layer-group"></i>
								<p>데이터 관리</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="add">
								<ul class="nav nav-collapse">
									<li>
										<a href="/admin/liquor_list.html">
											<span class="sub-item">주류</span>
										</a>
									</li>
									<li>
										<a href="/admin/cocktail_list.html">
											<span class="sub-item">칵테일</span>
										</a>
									</li>
									<li>
										<a href="/admin/ingredient_list.html">
											<span class="sub-item">재료</span>
										</a>
									</li>
									<li>
										<a href="/admin/equipment_list.html">
											<span class="sub-item">도구</span>
										</a>
									</li>
									<li>
										<a href="/admin/list_word.html">
											<span class="sub-item">용어</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
                            <!-- <a target="_blank"
                               href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark-pro" 
                               class="btn btn-danger btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>PRO Version</a> 
							 -->
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        