<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            {% if request.user.is_authenticated %}
            <div class="user">
                <!-- <div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div> -->
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            {{ request.user.username }}
                            <span class="user-level"> {{ request.user.email }} </span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <!-- <li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li> -->
                            <li>
                                <a href="{% url 'logout' %}">
                                    <span class="link-collapse">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/index.html">
                                    <span class="sub-item">Dashboard</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Menu</h4>
                </li>
                <li class="nav-item {% if 'svc_data_mng' in segment %} active {% endif %}">
                    <a
                        data-toggle="collapse"
                        href="#add"
                        aria-expanded="{% if 'svc_data_mng' in segment %}true{% endif %}"
                    >
                        <i class="fas fa-layer-group"></i>
                        <p>서비스 데이터 관리</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if 'svc_data_mng' in segment %}show{% endif %}" id="add">
                        <ul class="nav nav-collapse">
                            <li class="{% if 'list_liquor' in segment %} active {% endif %}">
                                <a href="/list_liquor.html">
                                    <span class="sub-item">주류</span>
                                </a>
                            </li>
                            <li class="{% if 'list_cocktail' in segment %} active {% endif %}">
                                <a href="/list_cocktail.html">
                                    <span class="sub-item">칵테일</span>
                                </a>
                            </li>
                            <li class="{% if 'list_ingredient' in segment %} active {% endif %}">
                                <a href="/list_ingredient.html">
                                    <span class="sub-item">재료</span>
                                </a>
                            </li>
                            <li class="{% if 'list_equipment' in segment %} active {% endif %}">
                                <a href="/list_equipment.html">
                                    <span class="sub-item">도구</span>
                                </a>
                            </li>
                            <li class="{% if 'list_word' in segment %} active {% endif %}">
                                <a href="/list_word.html">
                                    <span class="sub-item">용어</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item {% if 'crawled_data_mng' in segment %} active {% endif %}">
                    <a
                        data-toggle="collapse"
                        href="#crawled"
                        aria-expanded="{% if 'crawled_data_mng' in segment %}true{% endif %}"
                    >
                        <i class="fas fa-layer-group"></i>
                        <p>수집 데이터 관리</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if 'crawled_data_mng' in segment %}show{% endif %}" id="crawled">
                        <ul class="nav nav-collapse">
                            <li class="{% if 'list_crawled_liquor' in segment %} active {% endif %}">
                                <a href="/crawled_data_mng/list_crawled_liquor.html">
                                    <span class="sub-item">주류</span>
                                </a>
                            </li>
                            <li class="{% if 'list_crawled_liquor_image' in segment %} active {% endif %}">
                                <a href="/crawled_data_mng/list_crawled_liquor_image.html">
                                    <span class="sub-item">술 이미지</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% comment %} <li class="nav-item {% if 'test' in segment %} active {% endif %}">
                    <a data-toggle="collapse" href="#test">
                        <i class="fas fa-layer-group"></i>
                        <p>기능 테스트</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="test">
                        <ul class="nav nav-collapse">
                            <li class="{% if 'recommand' in segment %} active {% endif %}">
                                <a href="/test/recommand.html">
                                    <span class="sub-item">술 추천</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li> {% endcomment %}
            </ul>
            {% else %}
            <ul class="nav nav-primary">
                <li class="mx-4 mt-2">
                    <!-- <a target="_blank"
                               href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark-pro" 
                               class="btn btn-danger btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>PRO Version</a> 
							 -->
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
<!-- End Sidebar -->
