{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
						<!-- <h5 class="text-white op-7 mb-2">준비중... </h5> -->
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<!-- <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
						<a href="#" class="btn btn-secondary btn-round">Add Customer</a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Daily Goal</div>
							<div class="card-category">Daily information about statistics in system</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-1"></div>
									<h6 class="fw-bold mt-3 mb-0">New Users</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-2"></div>
									<h6 class="fw-bold mt-3 mb-0">New User Contents</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Share</h6>
								</div>
							</div>
						</div> 
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">New Data Timeline</div>
							<div class="row py-3">
								<!-- 
								<div class="col-md-4 d-flex flex-column justify-content-around">
									<div>
										<h6 class="fw-bold text-uppercase text-success op-8">Total Income</h6>
										<h3 class="fw-bold">$9.782</h3>
									</div>
									<div>
										<h6 class="fw-bold text-uppercase text-danger op-8">Total Spend</h6>
										<h3 class="fw-bold">$1,248</h3>
									</div>
								</div> -->
								<div class="col-md-12 flex-column">
									<div id="chart-container">
										<canvas id="newContentChart"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-title">Feed Management</div>
						</div>
						<div class="card-body">
							<ol id="feed_management" class="activity-feed">								
							</ol>
						</div>
					</div>
				</div>
				<!--
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Support Tickets</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab" aria-selected="true">Today</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week" role="tab" aria-selected="false">Week</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab" aria-selected="false">Month</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-info">J</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Joko Subianto <span class="text-warning pl-3">pending</span></h6>
									<span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">8:40 PM</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Prabowo Widodo <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">1 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Lee Chong Wei <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Peter Parker <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Logan Paul <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>

		$(document).ready(function() {

			loadNewContentTimeline();
			loadManagementTimeline();

		});

		Circles.create({
			id:'circles-1',
			radius:45,
			value:5,
			maxValue:10,
			width:7,
			text: 1,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 1,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 1,
			colors:['#f1f1f1', '#2478FF'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		});


		function loadNewContentTimeline() {

			var url = "/admin/raw_data_manager/api/dashboard/timeline/new";

			// request
			$.ajax({
				url:url,
				type:"get",
				headers: {
					'X-CSRFTOKEN' : '{{ csrf_token }}'
				},
				success:function(data){
					printNewContentTimeline(data)
				},
				error:function(request, status, error){
				}
			});

		}

		function printNewContentTimeline(data) {
			
			var timelineData = data['result'];

			var newContentChart = document.getElementById('newContentChart').getContext('2d');

			var label = new Array();
			var data = new Array();

			for(var i=timelineData.length-1; i>=0; i--) {
				var item = timelineData[i];
				var startDate = moment(item['start_date'], 'YYYY-MM-DD HH:mm:ss');
				label.push(startDate.format('HH시'));
				data.push(item['count']);
			}


			var myLineChart = new Chart(newContentChart, {
				type: 'line',
				data: {
					labels: label,
					datasets: [{
						label: "New Contents",
						borderColor: "#005766",
						pointBorderColor: "#FFF",
						pointBackgroundColor: "#005766",
						pointBorderWidth: 2,
						pointHoverRadius: 4,
						pointHoverBorderWidth: 1,
						pointRadius: 4,
						backgroundColor: 'transparent',
						fill: true,
						borderWidth: 2,
						data: data
					}]
				},
				options : {
					responsive: true, 
					maintainAspectRatio: false,
					legend: {
						position: 'bottom',
						labels : {
							padding: 10,
							fontColor: '#005766',
						}
					},
					tooltips: {
						bodySpacing: 4,
						mode:"nearest",
						intersect: 0,
						position:"nearest",
						xPadding:10,
						yPadding:10,
						caretPadding:10
					},
					layout:{
						padding:{left:15,right:15,top:15,bottom:15}
					},
					scales: {
						x: {
							grid: {
							display: true,
							drawBorder: true,
							drawOnChartArea: true,
							drawTicks: true,
							}
						},
						y: {
							grid: {
							drawBorder: true,
							color: function(context) {
								if (context.tick.value > 0) {
								return Utils.CHART_COLORS.green;
								} else if (context.tick.value < 0) {
								return Utils.CHART_COLORS.red;
								}

								return '#000000';
							},
							},
						}
					}
				}
			});
		}

		function loadManagementTimeline() {

			var url = "/admin/raw_data_manager/api/dashboard/timeline/managelog";

			// request
			$.ajax({
				url:url,
				type:"get",
				headers: {
					'X-CSRFTOKEN' : '{{ csrf_token }}'
				},
				success:function(data){
					printManagementTimeline(data)
				},
				error:function(request, status, error){
				}
			});

		}

		function printManagementTimeline(data) {

			$('#feed_management').empty();
			for(var i=0; i<data.length; i++) {
				var item = data[i];
				var regDate = moment(item['reg_date'], 'YYYY-MM-DD HH:mm:ss');
				var dateStr = regDate.format('MM/DD HH:mm:ss');

				/*	등록 / 수정 / 비활성 / 영구 제거 / 활성
					secondary - 수정
					success - 등록
					info	- 비활성
					warning 
					danger	- 영구 제거
				*/
				var jobCode = item['job_code'];
				var actNum = jobCode % 1000;
				var style = 'secondary';
				if(actNum == 1) {
					style = 'success';
				} else if(actNum == 2) {
					style = 'secondary';
				} else if(actNum == 3) {
					style = 'danger';
				} else if(actNum == 4) {
					style = 'info';
				} else if(actNum == 5) {
					style = 'secondary';
				}

				var uiItem = '<li class="feed-item feed-item-'+style+'">' + 
							'	<time class="date" datetime="9-25">'+dateStr+'</time>' + 
							'	<span class="text"><b>'+item['admin']['username']+'</b> 님이 <a href="#">'+item['job_name']+'</a>을 했습니다.</span>' + 
							'</li>';

				$('#feed_management').append(uiItem);
			}

		}


	</script>

{% endblock javascripts %}
