{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">술</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">데이터 추가</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">술</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">술 데이터 추가</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6 col-lg-4">
									
								
									<!-- Success class sample
									<div class="form-group has-success">
										<label for="korNameInput">술 이름(한국어)</label>
										<input type="text" id="korNameInput" placeholder="" class="form-control">
									</div>
									-->

									<!-- Error class sample
									<div class="form-group has-error has-feedback">
										<label for="errorInput">Error Input</label>
										<input type="text" id="errorInput" value="Error" class="form-control">
										<small id="emailHelp" class="form-text text-muted">Please provide a valid informations.</small>
									</div>
									-->


									<div class="form-group">
										<label for="exampleFormControlFile1">이미지</label>
										<input type="file" class="form-control-file" id="imageFileInput">
										<img id="thumb" class="photo" height="50%" width="50%" alt="이미지 미리보기...">
									</div>

									<div class="form-group form-group-default">
										<label>술 이름(한국어)</label>
										<input id="korNameInput" type="text" class="form-control" placeholder="술의 한국어 이름을 입력하세요.">
										<!-- <small id="emailHelp" class="form-text text-muted">Please provide a valid informations.</small> -->
									</div>

									<div class="form-group form-group-default">
										<label>술 이름(영어)</label>
										<input id="enNameInput" type="text" class="form-control" placeholder="술의 영어 이름을 입력하세요.">
									</div>

									<div class="form-group">
										<button class="btn btn-secondary">중복 확인</button>
									</div>
									
									<br>

									<div class="form-group form-group-default">
										<label>도수</label>
										<div class="col-md-9 p-0">
											<input type="text" class="form-control input-full" id="abvInput" placeholder="ex) 40" style="display:inline; width: 80%!important;"> 
											<span> % </span>
										</div>
									</div>

									<div class="form-group form-group-default">
										<label>국가</label>
										<select class="form-control" id="countrySelect">
											<option>선택없음</option>
										</select>
									</div>

									<div class="form-group form-group-default">
										<label>지역</label>
										<input id="regionInput" type="text" class="form-control" placeholder="ex) Napa Valley">
									</div>

								
									
									<!--
									<div class="form-group">
										<label class="form-label">형태</label>
										<div class="selectgroup w-100">
											<label class="selectgroup-item">
												<input type="checkbox" name="transportation" value="2" class="selectgroup-input">
												<span class="selectgroup-button selectgroup-button-icon">
													<i class="icon-screen-smartphone"></i>
													<div>
														<input type="text" name="bottleVolume" style="width: 25px;height:20px;font-size: 8px;">
														<span style="font-size: 8px;">mL</span>
													</div>
 												</span>
											</label>
											<label class="selectgroup-item">
												<input type="checkbox" name="transportation" value="1" class="selectgroup-input" checked="">
												<span class="selectgroup-button selectgroup-button-icon">
													<i class="icon-screen-tablet"></i>
													<div>
														<input type="text" name="bottleVolume" style="width: 25px;height:20px;font-size: 8px;">
														<span style="font-size: 8px;">mL</span>
													</div>
												</span>
											</label>
											<label class="selectgroup-item">
												<input type="checkbox" name="transportation" value="6" class="selectgroup-input">
												<span class="selectgroup-button selectgroup-button-icon">
													<i class="icon-screen-desktop"></i>
													<div>
														<input type="text" name="bottleVolume" style="width: 25px;height:20px;font-size: 8px;">
														<span style="font-size: 8px;">mL</span>
													</div>
												</span>
											</label>
										</div>
									</div>
									-->
								
									<!-- <div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" value="">
											<span class="form-check-sign">Agree with terms and conditions</span>
										</label>
									</div> -->
								</div>


								<div class="col-md-6 col-lg-4">		
									<div class="form-group">
										<label for="">카테고리</label>
										<div class="form-group form-group-default">
											<label for="categ1Select">level 1</label>
											<select class="form-control" id="categ1Select">
												<option>선택없음</option>
											</select>
										</div>
										<div class="form-group form-group-default">
											<label for="categ2Select">level 2</label>
											<select class="form-control" id="categ2Select">
												<option>선택없음</option>
											</select>
										</div>
										<div class="form-group form-group-default">
											<label for="categ3Select">level 3</label>
											<select class="form-control" id="categ3Select">
												<option>선택없음</option>
											</select>
										</div>
										<div class="form-group form-group-default">
											<label for="categ4Select">level 4</label>
											<select class="form-control" id="categ4Select">
												<option>선택없음</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label for="">가격</label>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">$</span>
											</div>
											<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
											<!-- <div class="input-group-append">
												<span class="input-group-text">.00</span>
											</div> -->
										</div>
									</div>
								</div>


								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<label for="desc">설명</label>
										<textarea class="form-control" id="desc" rows="5">

										</textarea>
									</div>

									<div class="form-group">
										<label for="history">유래</label>
										<textarea class="form-control" id="history" rows="5">

										</textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Submit</button>
							<button class="btn btn-danger">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}	
