{% extends "layouts/base.html" %}

{% block title %} UI Datatables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">용어</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">용어</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">데이터 조회</a>
					</li>
				</ul>
			</div>
			<div class="row">
				
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">용어 데이터 조회</h4>
								<button class="btn btn-primary btn-round ml-auto" onclick="javascript:moveToInsert()">
									<i class="fa fa-plus"></i>
									데이터 추가
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
									<div class="row">
										<div class="col-sm-12 col-md-6">
											<div id="basic-datatables_filter" class="dataTables_filter">
												<label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="basic-datatables"></label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<!-- <table id="basic-datatables" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info"> -->
											<table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
												<thead>
													<tr>
														<th style="width: 6%">용어<br>번호</th>
														<th style="width: 10%">이미지</th>
														<th style="width: 20%">이름(ko/en)</th>
														<th style="width: 8%">등록자</th>
														<th style="width: 15%">등록일</th>
														<th style="width: 6%">Action</th>
													</tr>
												</thead>
												<tfoot>
													<tr>
														<th>용어<br>번호</th>
														<th>이미지</th>
														<th>이름(ko/en)</th>
														<th>등록자</th>
														<th>등록일</th>
														<th>Action</th>
													</tr>
												</tfoot>
												<tbody id="wordTable">
													{% for word in word_list %}
													<tr>
														<td>{{word.word_id}}</td>
														<td>
															{% if 'default' in word.rep_img %}
															<img src="{{ imgprefix }}/{{word.rep_img}}_image.jpg" style='width:80px; height:80px;'>
															{% else %}
															<img src="{{ imgprefix }}/{{word.rep_img}}_300.png" style='width:70px;'>
															{% endif %}
														</td>
														<td>
															{% if word.name_kr != None %}
																{{word.name_kr}}<br>
															{% endif %}
															{% if word.name_en != None %}
																{{eqworduip.name_en}}<br>
															{% endif %}
														</td>
														<td>
															{% if word.update_admin_name != None %}
															{{ word.update_admin_name }}
															{% elif word.reg_admin_name != None %}
															{{ word.reg_admin_name }}
															{% else %}
															-
															{% endif %}
														</td>
														<td>
															{% if word.update_date != None %}
															{{ word.update_date|date:"Y-m-d" }}
															{% elif word.reg_date != None %}
															{{ word.reg_date|date:"Y-m-d" }}
															{% else %}
															-
															{% endif %}
														</td>
														<td>
															<div class="form-button-action">
																<button type="button" onclick="javascript:moveToModifyPage('{{word.word_id}}')" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="데이터 수정">
																	<i class="fa fa-edit"></i>
																</button>
															</div>
														</td>
													</tr>
													{% endfor %}

													<!-- <tr>
														<td>2052</td>
														<td>
															증류주<br>
															위스키<br>
															아메리칸 위스키<br>
															버번 위스키<br>
														</td>
														<td>
															젝다니엘 허니<br>
															JackDinel Honey
														</td>
														<td>35.5%</td>
														<td>세인트빈센트 그레나딘</td>
														<td>
															<button type="button" class="btn btn-icon btn-round btn-success">
																<i class="fa fa-check"></i>
															</button>
															<button type="button" class="btn btn-icon btn-round btn-success">
																<i class="fa fa-check"></i>
															</button>
														</td>
														<td>pangho</td>
														<td>2022-03-15</td>
														<td>
															<div class="form-button-action">
																<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
																	<i class="fa fa-edit"></i>
																</button>
																<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
																	<i class="fa fa-times"></i>
																</button>
															</div>
														</td>
													</tr> -->
												</tbody>
											</table>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12 col-md-5">
											<!-- <div class="dataTables_info" id="basic-datatables_info" role="status" aria-live="polite">
												Showing 1 to 10 of 57 entries
											</div> -->
										</div>
										<div class="col-sm-12 col-md-7">
											<div class="dataTables_paginate paging_simple_numbers" id="basic-datatables_paginate">
												<ul class="pagination">
													{% if word_list.has_previous %}
													<li class="paginate_button page-item previous" id="basic-datatables_previous">
														<a href="?page={{ word_list.previous_page_number }}" aria-controls="basic-datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
													</li>
													{% endif %}
													{% for page_number in word_list.paginator.page_range %}
													{% if page_number >= word_list.number|add:-3 and page_number <= word_list.number|add:3 %}
													{% if page_number == word_list.number %}
													<li class="paginate_button page-item active">
														<a href="?page={{ page_number }}" aria-controls="basic-datatables" data-dt-idx="1" tabindex="0" class="page-link">{{ page_number }}</a>
													</li>
													{% else %}
													<li class="paginate_button page-item ">
														<a href="?page={{ page_number }}" aria-controls="basic-datatables" data-dt-idx="2" tabindex="0" class="page-link">{{ page_number }}</a>
													</li>
													{% endif %}	
													{% endif %}													
        											{% endfor %}													
													{% if equipment_list.has_next %}
													<li class="paginate_button page-item next" id="basic-datatables_next">
														<a href="?page={{ word_list.next_page_number }}" aria-controls="basic-datatables" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
													</li>
													{% endif %}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script >
		
		var gPage = 1;
		var perPage = 10;

		function moveToInsert() {
			location.href = "/admin/insert_word.html"
		}

		$(document).ready(function() {
			segment = '{{segment}}';
			console.log(segment);
		});

		function moveToModifyPage(wordId) {
			location.href = "modify_word.html?wordId="+wordId;
		}


	</script>

{% endblock javascripts %}
